nav {
    width: 960px;
    margin: 0 auto;
}
nav::before {
    content: "";
    display: block;
    height: 50px;
    width: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    z-index: -1;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}
ul li {
    float: left;
}
ul li a {
    color: #fff;
    display: block;
    height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}
ul li a:hover {
    background-color: #d34d43;
}
.container {
   display: grid;
   grid-template-columns: repeat(4, 50px);
   grid-gap: 20px;
   grid-auto-rows: 50px;
}
.container span {
    border: #2605cc 1px solid;
    box-shadow: #ccc 5px 3px 4px 3px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-color: #d34d43;
    border-top-color: #d34d43;
    text-align: center;
}
